.outline {
  outline: 3px dashed black;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  width: 880px;
  padding: 0px 10px;
  padding-top: 27px;
  margin: auto;
}

.navigation-logo {
  width:  140px;
  height: 60px;
  float: left;
  margin-right: 183px;
}

nav {
  width: 395px;
  float: left;
  margin-right:0px;
}


nav a {
  color: black;
  text-decoration: none;
}

nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  
  font-size: 0px;
  
  padding-top: 36px;
}

nav li {
  display: inline-block;
  vertical-align: top;
  padding-right: 43px;
  
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  color: black;
}

nav li:last-child {
  padding-right: 0px;
}

.user-block {
  width: 100px;
  float: right;
}

.slide {
  width: 480px;
  float: left;
  margin-top: 80px;
  margin-bottom: 80px;
}

.slider-switches ul li {
  display: inline-block;
}

.welcome-paragraph {
  margin-top: 74px;
  margin-bottom: 93px;
}

.main-content {
  width: 880px;
  margin: auto;
  padding: 0px 10px;
}

.service-item {
  float: left;
  width: 240px;
  margin-right: 80px;
  margin-top: 80px;
  margin-bottom: 80px;
  min-height: 299px;
}

.service-item:last-child {
    margin-right: 0px; 
}
/*
Оттолкнуться маргинами вниз
.service-item {margin-bottom: 141px}
  или
Падингами вверх до границы блоков
.about-us {padding-top: 60px;}
*/
.about-us {
  padding-top: 60px;
  padding-bottom: 75px;
}

.about-us-left {
  width: 620px;
  float: left;
}

.about-us-right {
  min-height: 337px;
  width: 260px;
  float: right;
}

.logo {
  width: 187px;
  height: 75px;
}

.examples a {
  display: inline-block;
}

.examples a:last-child {
  margin-top: 45px;
  margin-bottom: 35px;
}

.htmlacademy-logo {
  margin-left: 120px;
  margin-right: 124px;
}

.sidebar {
  width: 240px;
  float: left;
}

.main-container {
  width: 560px;
  float: right;
  margin-left: 80px;
  margin-bottom: 80px;
}

.pagination {
  width: 285px;
  clear: both;
  margin-bottom: 80px;
}

.map {
  width: 1200px;
  height: 784px;
  margin: auto;
}

.map-img {
  width: 1200px;
  height: 784px;
}
/*
  Изображение карты получается вытянутым 
хотя указаны реальные её размеры 
*/

.contacts {
  width: 250px;
  height: 240px;
  float: left;
}

.footer-container {
  width: 880px;
  margin: auto;
  padding: 0px 10px;
}

.footer-social {
  width: 240px;
  float: left;
}

.footer-slogan {
  width: 580px;
  float: right;
  margin-left: 60px;
}

body {
  min-width: 900px;
  font-family: "Roboto", "Tahoma", sans-serif;
}

/*
.navigation-link {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  color: black;
}*/

.basket {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  color: black;
}

.slider-heading {
  font-size: 36px;
  line-height: 36px;
  color: black;
}

.slider-paragraph {
  font-size: 16px;
  line-height: 22px;
  color: #283136;
}

.slider-btn-info {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: white;
}

.service-item b {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  color: black;
}

.service-item p {
  font-size: 15px;
  line-height: 22px;
  color: #283136;
}

.btn-order {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: white;
}

.about-us-left b {
  font-size: 36px;
  line-height: 36px;
  color: black;
}


.about-us-left p {
  font-size: 16px;
  line-height: 22px;
  color: #283136;
}

.list-style {
  font-size: 16px;
  line-height: 22px;
  color: #283136;
}

.about-us-left h2 {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
}

.since {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 8.56px;  
  color: black;
} 

.contacts-heading {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  color: black;
}

.contacts-paragraph {
  font-size: 16px;
  line-height: 20px;
  color: #666666;
}

.contacts-btn {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: white;
}

.slogan {
  font-size: 36px;
  line-height: 36px;
  color: black;
}

.footer-paragraph {
  font-size: 16px;
  line-height: 22px;
  color: #283136;
}

.welcome-paragraph {
  text-transform: uppercase;
  font-size: 40px;
  line-height: 48px;
  color: black;
}

.sidebar-heading {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 30px;
  color: black;
}

.sidebar label {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.show-btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: black;
}

.sort-title {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: black;
}

.sort-link {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: black;
}

.description h2 {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 8.56px;
  color: black;
} 

.description p {
  font-size: 14px;
  line-height: 18px;
  color: #283136;
}

.btn-buy {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 8.56px;
  color: white;
}

.pagination a {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: black;
}
