.outline {
  outline: 3px dashed black;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* header */
.main-header {
  background-color: #eeeeee;
}

.navigation {
  width: 880px;
  padding: 0px 10px;
  padding-top: 27px;
  margin: auto;
}

.navigation-logo {
  width:  140px;
  height: 56px;
  float: left;
  margin-right: 180px;
}

nav {
  width: 400px;
  float: left;
  margin-right: 60px;
}

.navigation-link {
  color: black;
  text-decoration: none;
}

.navigation-link:hover {
  color: #fb565a;
}

.navigation-link:active {
  color: #ababab;
}

nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  
  font-size: 0px;
  padding-top: 26px;
}

nav li {
  display: inline-block;
  vertical-align: top;
  padding-right: 45px;
  
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  color: black;
}

nav li:last-child {
  padding-right: 0;
}

.user-block {
  max-width: 100px;
  float: right;
  padding-top: 24px;
}

.basket {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

.basket:hover {
  color: #fb565a;
}

.basket:active {
  color: #ababab;
}


/* Слайдер */
.slider {
  position: relative;
  width: 880px;
  height: 350px;
  padding: 0px 10px;
  margin: 0 auto;
}

.slider-switches {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 1;
}

.slider-switches i {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  background: white;
  border: 3px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

.slider-switches .active {
  background: #c1c1c1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-text {
  width: 470px;
  padding-top: 72px;
  padding-left: 10px;
}

.slide:nth-child(1) {
  background-image:url(../img/slide-1.png);
  background-repeat: no-repeat;
  background-position: 100% 53px;
}

.slide {
  display: none;
}

.slide:nth-child(3) {
  display: block;
}

.slide:nth-child(2) {
  background-image: url(../img/slide-2.png);
  background-repeat: no-repeat;
  background-position: 100% 57px;
}

.slide:nth-child(3) {
  background-image: url(../img/slide-3.png);
  background-repeat: no-repeat;
  background-position: 100% 53px;
}


.slider-heading {
  font-size: 36px;
  line-height: 36px;
  color: black;
  
  padding-bottom: 18px;
  margin: 0;
}

.slider-paragraph {
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  
  padding-bottom: 30px;
  margin: 0;
}

.slider-btn-info {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: white;
  
  width: 240px;
  text-align: center;
  background: #fb565a;
  padding: 10px 0px;
  border: 1px solid #fb565a;
  border-radius: 3px;
  text-decoration: none;
}

.slider-btn-info:hover {
  background: #d6494d;
}

.slider-btn-info:active {
  background: #b63538;
}

/* Индекс */
.services {
  width: 880px;
  margin: auto;
  padding: 0 10px;
  border-bottom: 3px solid #eeeeee;
}

.service-item {
  float: left;
  width: 240px;
  margin-right: 80px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.service-item:last-child {
    margin-right: 0px; 
}

.about-us {
  width: 880px;
  padding: 0px 10px;
  margin: auto;
  border-bottom: 3px solid #eeeeee;
}

.about-us-left {
  width: 574px;
  float: left;
  margin-top: 69px;
}

.about-us-right {
  width: 240px;
  float: right;
  margin-left: 66px;
  margin-top: 59px;
}

.logo {
  width: 187px;
  height: 75px;
  margin: 0;
  padding-bottom: 30px;
  padding-left: 31px;
}

.examples {
  width: 880px;
  margin: auto;
  padding: 0 10px;
  font-size: 0;
}

.examples a {
  display: inline-block;
  vertical-align: middle;
}

.examples a:last-child {
  margin-top: 45px;
  margin-bottom: 35px;
}

.examples a:first-child {
  margin-left: 12px;
}

.examples a:hover {
  opacity: 0.3;
}

.htmlacademy-logo {
  margin-left: 121px;
  margin-right: 123px;
}

/* Каталог */

.welcome {
  width: 880px;
  margin: 0 auto;
  padding: 10px;
  padding-top: 74px;
  padding-bottom: 93px;
}

.welcome h1 {
  font-size: 40px;
  padding-left: 108px;
  padding-right: 121px;
  margin: 0;
  text-align: center;
}

.main-container {
  width: 880px;
  padding: 0 10px;
  margin: auto;
}

.sidebar {
  width: 240px;
  float: left;
  margin-top: 82px;
}

.card-product-container {
  width: 560px;
  float: right;
  margin-left: 80px;
  margin-top: 82px;
}

.catalog {
  vertical-align: top;
  font-size: 0;
}

.card-product {
  width: 240px;
  display: inline-block;
  position: relative;
  margin-right: 80px;
  margin-bottom: 80px;
}

.card-product:nth-child(2n) {
  margin-right: 0px;
}

.sort li {
  display: inline-block;
}

.sort ul {
  display: inline-block;
  width: 304px;
  margin: 0px;
  margin-bottom: 26px;
}

.description {
  width: 200px;
  position: absolute;
}

.sketch {
  margin-left: 0px;
}

.switches ul {
  display: inline-block;
}

.pagination {
  margin-bottom: 80px;
  width: 285px;
}

.pagination li {
  display: inline-block;
}

/* footer */
.map {
  width: auto;
  min-height: 416px;
  position: relative;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  overflow: hidden;
}

.contacts {
  width: 250px;
  position: absolute;
  top: 88px;
  left: 50%;
  transform: translateX(-440px);
  background: #ffffff;
}

.footer-container {
  width: 880px;
  margin: auto;
  padding: 0px 10px;
}

.footer-social {
  width: 240px;
  float: left;
  margin-top: 77px;
  margin-bottom: 77px;
}

.footer-slogan {
  width: 580px;
  float: right;
  margin-left: 60px;
  margin-top: 79px;
  margin-bottom: 79px;
}

body {
  font-family: "Roboto", "Tahoma", sans-serif;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds.woff") format("woff"),
       url("../fonts/symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-nerds";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */

/* корзина */
.basket {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  color: black;
}

.icon-basket {
  opacity: 0.3;
  font-size: 14px;
  line-height: 30px;
  padding-right: 12px;
}

/* footer-social */
.facebook {
  margin-left: 27px;
  margin-right: 27px;
}

.footer-social {
  font-size: 0;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 62px;
  height: 62px;
  border-radius: 50px;
  background: #e1e1e1;
  color: white;
  font-size: 0;
  text-align: center;
}

.social-btn:hover {
  background: #fb565a;
}

.social-btn:active {
  background: #d6494d;
}

.social-btn span {
  font-size: 23px;
  line-height: 16px;
}

.service-img {
  width: 240px;
  height: 124px;
  padding-bottom: 25px;
}

.service-item b {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  color: black;
  padding-bottom: 18px;
}

.service-item p {
  font-size: 15px;
  line-height: 22px;
  color: #283136;
  padding-bottom: 29px;
  padding-top: 18px;
  margin: 0;
}

.btn-order {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: white;
  width: 139px;
  padding: 10px 0;
  text-decoration: none;
  text-align: center;
}

.btn-red {
  background: #fb565a;
  border-radius: 3px;
  border: 1px solid #fb565a;
}

.btn-red:hover {
  background: #d6494d;
}

.btn-red:active {
  background: #b63538;
}

.btn-green {
  background: #00ca74;
  border-radius: 3px;
  border: 1px solid #00ca74;
}

.btn-green:hover {
  background: #01a25e;
}

.btn-green:active {
  background: #009053;
}

.btn-yellow {
  background: #efc84a;
  border-radius: 3px;
  border: 1px solid #efc84a;
}

.btn-yellow:hover {
  background: #d6ae2c;
}

.btn-yellow:active {
  background: #c09b24;
}

.about-us-left b {
  font-size: 36px;
  line-height: 36px;
  color: black;
  padding-bottom: 30px;
}

.about-us-left p {
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  margin: 0;
  padding-bottom: 47px;
  padding-top: 30px;
}

.list-title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  margin: 0;
  padding-bottom: 25px;
}

.list li {
  padding-bottom: 25px;
}

.list {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  margin: 0;
  padding-bottom: 72px;
}

.since-container {
  padding-bottom: 67px;
    text-align: center;
}

.since {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 8.56px;  
  color: black;
  padding: 0 15px;
  z-index: 2;
  background: white;
} 

.since-container::after {
  content: "";
  display: block;
  border-bottom: 2px solid #eeeeee;
  position:  relative;
  top: -10px;
  z-index: 1;
}

.contacts-heading {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  color: black;
  margin: 0;
  padding-top: 31px;
  padding-left: 20px;
  padding-bottom: 19px;
}

.contacts-paragraph {
  font-size: 16px;
  line-height: 20px;
  color: #666666;
  margin: 0;
  padding-bottom: 19px;
  padding-left: 20px;
}

.contacts-tel {
  font-size: 16px;
  line-height: 20px;
  color: #666666;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 30px;
}

.contacts-btn {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: white;
  text-decoration: none;
  width: 203px;
  background: #fb565a;
  border: 1px solid #fb565a;
  border-radius: 3px;
  padding: 9px 0;
  text-align: center;
  margin-left: 23px;
  margin-bottom: 26px;
}

.contacts-btn:hover {
  background: #d6494d;
}

.contacts-btn:active {
  background: #b63538;
}

.slogan {
  font-size: 36px;
  line-height: 36px;
  color: black;
  padding-bottom: 10px;
}

.footer-paragraph {
  font-size: 16px;
  line-height: 22px;
  color: #283136;
}

.welcome-paragraph {
  text-transform: uppercase;
  font-size: 40px;
  line-height: 48px;
  color: black;
  text-align: center;
}

.welcome-paragraph h1 {
  padding-left: 80px;
}

.sidebar-heading {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 30px;
  color: black;
}

.sidebar label {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.show-btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: black;
}

.sort-title {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: black;
}

.sort-link {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: black;
}

.description h2 {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 8.56px;
  color: black;
} 

.description p {
  font-size: 14px;
  line-height: 18px;
  color: #283136;
}

.btn-buy {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 8.56px;
  color: white;
}

.pagination a {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: black;
}
